<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--<form action="http://localhost:8080//addressbook/newBook" method="post">-->
<!--    <input type="submit" value="Create Address Book" />-->
<!--</form>-->

<form action="#" th:action="@{/addressbook/newBook}" method="post">
    <input type="submit" value="Create Address Book" />
</form>

</body>
</html>