<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:if="${book}">Address book was successfully created!</div>
    <p th:text="'The address book id is '+ ${book.id}"> </p>

    <form action="#" th:action="@{/addressbook/newBook}" method="post">
        <input type="submit" value="Create Address Book" />
    </form>

    <form action="#" th:action="@{/addressbook/addBuddy}" method="post">
        <p>AddressBook Id: <input type="text" name="bookID"/></p>
        <p>Buddy Name: <input type="text" name="name" /></p>
        <p>Buddy Number: <input type="text" name="number"/></p>
        <p>Buddy Address: <input type="text" name="address" /></p>
        <input type="submit" value="Add buddy" />
    </form>

    <h3>Current buddies:</h3>
    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Number </th>
            <th> Address </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${buddies == null}">
            <td colspan="3"> No buddies Available </td>
        </tr>
        <tr th:each="buddy : ${buddies}">
            <td><span th:text="${buddy.id}"> Id </span></td>
            <td><span th:text="${buddy.name}"> Name </span></td>
            <td><span th:text="${buddy.number}"> Number </span></td>
            <td><span th:text="${buddy.address}"> Address </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>